---

- name: Set full path dest file name of quadlet container file
  ansible.builtin.set_fact:
    podman_quadlet_systemd_dir: "{{ podman_quadlet_rootless_user_name_home_dir }}/.config/containers/systemd"

- name: Create Podman Quadlet systemd directory for rootless user
  become: true
  ansible.builtin.file:
    path: "{{ podman_quadlet_systemd_dir }}/{{ podman_quadlet_app_name }}"
    state: directory
    mode: "0700"
    owner: "{{ podman_quadlet_rootless_user_name }}"
    group: "{{ podman_quadlet_rootless_user_name }}"

- name: Render Quadlet container template (.container.j2) to user systemd directory
  become: true
  ansible.builtin.template:
    src: "{{ podman_quadlet_src_container_file_name_full_path }}"
    dest: "{{ podman_quadlet_systemd_dir }}/{{ podman_quadlet_app_name }}/{{ podman_quadlet_app_name }}.container"
    owner: "{{ podman_quadlet_rootless_user_name }}"
    group: "{{ podman_quadlet_rootless_user_name }}"
    mode: "0600"
  when:
    - podman_quadlet_container_file_name | regex_search('\.container\.j2$') is not none
  register: podman_quadlet_app_config_template

- name: Copy Quadlet container file (.container) to user systemd directory
  become: true
  ansible.builtin.copy:
    src: "{{ podman_quadlet_src_container_file_name_full_path }}"
    dest: "{{ podman_quadlet_systemd_dir }}/{{ podman_quadlet_app_name }}/{{ podman_quadlet_app_name }}.container"
    owner: "{{ podman_quadlet_rootless_user_name }}"
    group: "{{ podman_quadlet_rootless_user_name }}"
    mode: "0600"
  when:
    - podman_quadlet_container_file_name | regex_search('\.container$') is not none
  register: podman_quadlet_app_config_file

# Shell command required here, using ansible.builtin.systemd_service module in user scope did not work
# Therefore supressing ansible-lint "Use shell only when shell functionality is required."
# - name: Validate quadlet unit file of the container # noqa: command-instead-of-shell
#   become: true
#   become_user: "{{ podman_quadlet_rootless_user_name }}"
#   ansible.builtin.shell:
#     cmd: "/usr/lib/systemd/system-generators/podman-system-generator --user --dryrun"
#   environment:
#     QUADLET_UNIT_DIRS: "{{ podman_quadlet_systemd_dir }}/{{ podman_quadlet_app_name }}"
#   register: podman_quadlet_systemd_validation_result
#   ignore_errors: true
#   changed_when: false

# - name: Validation failed
#   ansible.builtin.debug:
#     msg: >
#       Please check the syntax of your quadlet unit file.
#       See section "debugging unit files" in
#       https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
#   when: podman_quadlet_systemd_validation_result.rc != 0

- name: Reload rootless systemd # noqa: command-instead-of-module,no-changed-when
  become: true
  become_user: "{{ podman_quadlet_rootless_user_name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ podman_quadlet_rootless_user_id }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ podman_quadlet_rootless_user_id }}/bus"
  ansible.builtin.command:
    cmd: systemctl --user daemon-reload
  when: (podman_quadlet_app_config_template.changed | default(false)) or
        (podman_quadlet_app_config_file.changed | default(false))

- name: Restart rootless container application  # noqa: command-instead-of-module,no-changed-when
  become: true
  become_user: "{{ podman_quadlet_rootless_user_name }}"
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR=/run/user/$(id -u)
    export DBUS_SESSION_BUS_ADDRESS=unix:path=$XDG_RUNTIME_DIR/bus
    systemctl --user restart {{ podman_quadlet_app_name }}
  when: (podman_quadlet_app_config_template.changed | default(false)) or
        (podman_quadlet_app_config_file.changed | default(false))
