---

- name: Debug volume data
  ansible.builtin.debug:
    msg:
      - "volume.name = {{ volume.name }}"
      - "volume.paths = {{ volume.paths }}"

- name: Get mountpoint of rootless volume
  become: true
  ansible.builtin.shell:
    cmd: |
      su - {{ podman_quadlet_rootless_user_name }} \
      -c 'podman volume inspect {{ volume.name }} --format "{% raw %}{{.Mountpoint}}{% endraw %}"'
    executable: /bin/bash
  register: rootless_volume_status
  ignore_errors: true # noqa: ignore-errors
  failed_when: false
  changed_when: false  # noqa: no-changed-when

- name: Assert rootless volume exists
  ansible.builtin.assert:
    that:
      - volume.name in rootless_volume_status.stdout

- name: Deploy paths into volume {{ volume.name }}
  become: true
  block:

    - name: Create directories in volume {{ volume.name }}
      ansible.builtin.file:
        path: "{{ rootless_volume_status.stdout }}{{ item.path }}"
        state: directory
        owner: "{{ item.owner | default(podman_quadlet_rootless_user_uid, true) }}"
        group: "{{ item.group | default(podman_quadlet_rootless_user_gid, true) }}"
        mode: "{{ item.mode | default(omit) }}"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'directory'

    - name: Ensure parent directories exist for files
      ansible.builtin.file:
        path: "{{ rootless_volume_status.stdout }}{{ item.path | dirname }}"
        state: directory
        owner: "{{ item.owner | default(podman_quadlet_rootless_user_uid, true) }}"
        group: "{{ item.group | default(podman_quadlet_rootless_user_gid, true) }}"
        mode: "0755"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'file'

    - name: Copy files into volume {{ volume.name }}
      ansible.builtin.copy:
        src: "{{ podman_quadlet_caller_role_path }}/files/{{ volume.name }}{{ item.path }}"
        dest: "{{ rootless_volume_status.stdout }}{{ item.path }}"
        owner: "{{ item.owner | default(podman_quadlet_rootless_user_uid, true) }}"
        group: "{{ item.group | default(podman_quadlet_rootless_user_gid, true) }}"
        mode: "{{ item.mode | default(omit) }}"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'file'

- name: Restart rootless container application
  become: true
  ansible.builtin.shell:  # noqa: command-instead-of-module
    cmd: |
      su - {{ podman_quadlet_rootless_user_name }} -c '
      export XDG_RUNTIME_DIR=/run/user/$(id -u)
      export DBUS_SESSION_BUS_ADDRESS=unix:path=$XDG_RUNTIME_DIR/bus
      systemctl --user restart {{ podman_quadlet_app_name }}
      '
    executable: /bin/bash
  changed_when: false # noqa: no-changed-when
