---

- name: Create and start rootful container
  ansible.builtin.import_tasks: rootful-container.yml

- name: Deploy files to volumes
  ansible.builtin.include_tasks: rootful-volumes.yml
  loop: "{{ podman_quadlet_volumes }}"
  loop_control:
    loop_var: volume
