---

- name: Debug volume data
  ansible.builtin.debug:
    msg:
      - "volume.name = {{ volume.name }}"
      - "volume.paths = {{ volume.paths }}"

- name: Get mountpoint of rootful volume
  become: true
  ansible.builtin.shell:
    cmd: |
      podman volume inspect {{ volume.name }} --format "{% raw %}{{.Mountpoint}}{% endraw %}"
    executable: /bin/bash
  register: rootful_volume_status
  ignore_errors: true # noqa: ignore-errors
  failed_when: false
  changed_when: false  # noqa: no-changed-when

- name: Assert rootful volume exists
  ansible.builtin.assert:
    that:
      - volume.name in rootful_volume_status.stdout

- name: Deploy paths into volume {{ volume.name }}
  become: true
  block:

    # --------------------
    # Directories
    # --------------------
    - name: Create directories in volume {{ volume.name }}
      ansible.builtin.file:
        path: "{{ rootful_volume_status.stdout }}/{{ item.path | regex_replace('^/+', '') }}"
        state: directory
        owner: "{{ item.owner | default(0, true) }}"
        group: "{{ item.group | default(0, true) }}"
        mode: "{{ item.mode | default(omit) }}"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'directory'

    # --------------------
    # Parent directories for files & templates
    # --------------------
    - name: Ensure parent directories exist
      ansible.builtin.file:
        path: "{{ rootful_volume_status.stdout }}/{{ item.path | regex_replace('^/+', '') | dirname }}"
        state: directory
        owner: "{{ item.owner | default(0, true) }}"
        group: "{{ item.group | default(0, true) }}"
        mode: "0755"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state in ['file', 'template']

    # --------------------
    # Plain files
    # --------------------
    - name: Copy files into volume {{ volume.name }}
      ansible.builtin.copy:
        src: "{{ podman_quadlet_caller_role_path }}/files/{{ volume.name }}/{{ item.path | regex_replace('^/+', '') }}"
        dest: "{{ rootful_volume_status.stdout }}/{{ item.path | regex_replace('^/+', '') }}"
        owner: "{{ item.owner | default(0, true) }}"
        group: "{{ item.group | default(0, true) }}"
        mode: "{{ item.mode | default(omit) }}"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'file'

    # --------------------
    # Templates
    # --------------------
    - name: Render templates into volume {{ volume.name }}
      ansible.builtin.template:
        src: "{{ podman_quadlet_caller_role_path }}/templates/{{ volume.name }}/{{ item.path | regex_replace('^/+', '') }}"
        dest: "{{ rootful_volume_status.stdout }}/{{ item.path | regex_replace('^/+', '') | regex_replace('\\.j2$', '') }}"
        owner: "{{ item.owner | default(0, true) }}"
        group: "{{ item.group | default(0, true) }}"
        mode: "{{ item.mode | default(omit) }}"
      loop: "{{ volume.paths | default([]) }}"
      when: item.state == 'template'

- name: Restart rootful container application
  become: true
  ansible.builtin.shell:  # noqa: command-instead-of-module
    cmd: |
      systemctl restart {{ podman_quadlet_app_name }}
    executable: /bin/bash
  changed_when: false # noqa: no-changed-when
